// main: ../style.less

html {
    font-size: 18px;
    
    @media screen and (max-width: 1024px) {
        font-size: 16px;
    }
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    
    background-color: #171919;
}

// Bgrnd Decor

.bgrnd-decor {
    position: absolute;
    z-index: -1;
    display: flex;
    
    width: 100%;
    height: 100%;
}

.bgrnd-decor-item {
    position: relative;
    z-index: -1;
    
    width: 1px;
    height: 2500px;
    margin-left: 31%;
    
    background-color: rgba(255, 255, 255, 0.067);
    
    &:first-child {
        margin-left: 168px;
    }
}

h1, h2, h3, h4, h5, h6, a, li {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
//    display: flex;
//    flex-direction: column;
}

li, ul {
    list-style: none;
}

*,
::before,
::after {
    box-sizing: border-box;
    
    //border: 1px solid white;
}

.container {
    //position: relative;
    
//    width: 100%;
//    max-width: 1192px;
//    transform: translateX(52px);
//    padding: 0 1rem;
    
    width: 100%;
    
    padding: 0 calc(80px + .5rem) 0 calc(132px + .5rem);

    margin: 0 auto;
    //border: 1px solid white;
}

.hw-before {
    &::before {
        content: "";
        display: inline-block;
        
        margin-right: 22px;
        margin-bottom: 6px; 
        
        width: 80px;
        height: 1px;
        
        opacity: 0.5;
        background: #FFF;
    }
    
    &--empty::before {
        margin-right: 0;
        margin-bottom: 0; 
    }
}

.hw-after {
    &::after {
        content: "";
        display: inline-block;
        
        margin-left: 22px;
        margin-bottom: 6px; 
        
        width: 80px;
        height: 1px;
        
        opacity: 0.5;
        background: #FFF;
    }
    
    &--empty::after {
        margin-right: 0;
        margin-bottom: 0; 
    }
}

// Заголовки

h2 {
    font-family: inherit;
    font-size: 4.44em;
    font-style: normal;
    font-weight: 800;
    line-height: 86px;
    text-transform: uppercase;
}

h3 {
    font-family: inherit;
    font-size: 2.22em;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
}

h4 {
    font-family: inherit;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 7.333px;
    text-transform: uppercase;
    
    opacity: .5;
}

h5 {
    font-family: inherit;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
    letter-spacing: 8px;
    text-transform: uppercase;
}

.h5--vertical {
    transform-origin: left top; 
    transform: rotate(-90deg);
}

.h5--vertical--preview {
    text-align: end;
    writing-mode: vertical-rl;
    opacity: 0.5;
    transform: rotate(180deg);
}

.static_fs {
    font-size: 60px;
}

// Panda Obj

.panda-obj {
    position: relative;
    
    font-size: 18px;
    display: flex;
    align-items: center;
    //font-size: 3.33rem;
    
    padding-right: 32px;
    
    height: 2.816em;
    
    &--header {
        position: absolute;
        z-index: 3;
        transform-origin: left top;
        transform: rotate(-90deg);
        top: 285px;
        left: 0;
        
        font-size: 60px;
    }
    
    &--surf {
        visibility: hidden;

        &--active {
            visibility: visible;
        }
        
        position: absolute;
        z-index: 3;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        
        padding-right: 0;
        height: 80px;
        
        &::after {
            position: relative;
            z-index: 3;
            
            content: '';
            display: inline-block;
            
            width: 25px;
            height: 21px;
            
            margin: 0 16px;
            
            background-image: url("../../images/Arrow.svg");
            background-size: cover;
        }
    }
    
    &--page-slider {
        position: relative;
        height: 80px;
        
        margin: 70px auto 0;
        padding-right: 0;
        
        &::after {
            position: relative;
            z-index: 3;
            
            content: '';
            display: inline-block;
            
            width: 25px;
            height: 21px;
            
            margin: 0 16px;
                        
            background-image: url("../../images/Arrow.svg");
            background-size: cover;
        }
    }
    
    &--shop {
        position: relative;
        height: 80px;
        width: 250px;
        
        margin: 0 auto 0 0;
        
        &::after {
            position: relative;
            z-index: 3;
            
            content: '';
            display: inline-block;
            
            width: 25px;
            height: 21px;
            
            margin: 0 0 0 16px;
                        
            background-image: url("../../images/Arrow.svg");
            background-size: cover;
        }
    }
    
    &--footer {
        font-size: 28px;
        
        height: 64px;
        position: relative;
        z-index: 3;
        transform-origin: left top;
    }
}

.panda-obj-text {
    position: relative;
    z-index: 3;
    
    //padding: .75rem 0;
    //margin-right: 32px;
    
    font-family: inherit;
    font-style: normal;
    font-weight: 800;
    line-height: 86px; /* 143.333% */
    text-transform: uppercase;
    
    white-space: nowrap;
    word-spacing: 30px;
}

.panda-obj-rectangle {
    position: absolute;
    z-index: 2;
    
    top: 0;
    right: 0;
    
    height: 100%;
    //width: 60%;
    /* тут нужно либо текст привязывать 
    к фигуре, либо регулировать ширину фигуры вручную */
    width: 191px;
    
    background-color: #4AF6CD;
    
    &::before {
        position: absolute;
        z-index: 2;
        content: '';
        display: inline-block;
        
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        
        width: 20px;
        height: 1px;
        background-color: #ffffff;
    }
    
    &--surf {
        width: 168px;
    }
    
    &--page-slider {
        &--travel {
            width: 200px;
        }
        
        &--sleep {
            width: 168px;
        }
    }
    
    &--shop {
        width: 128px;
    }
    
    &--footer {
        width: 111px;
    }
}

// Slider Btns

.slider_btns {
    width: 69px;
    display: flex;
    gap: 18px;
    
    &--op {
        opacity: .25;
        margin-left: auto;
        margin-right: 0;
    }
    
    &--mrgn {
        margin-top: 30px;
    }
}

.slider_btn {
    width: 25px;
    height: 21px;
    
    &--prev {
        transform: rotate(180deg) translateY(1px);
    }
}

// Tile Opac

.title-op {
    position: absolute;
    z-index: 1;
    
    font-family: inherit;
    font-size: 11.11rem;
    font-style: normal;
    font-weight: 800;
    line-height: 156px; /* 78% */
    text-transform: uppercase;
    
    opacity: .02;
    
    &--surf {
        top: 45px;
        left: -288px;
    }
    
    &--page-slider {
        top: 45px;
        left: -290px;
    }
}